<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Hello World!h2</h1>
    <p>This is {{ bool_item }} coming through</p>
    {% if bool_item %}
    <p>Random number is {{ num }}</p>
    {% endif %}
    <p>
        {% for some_item in some_list %}
        {% if some_item|divisibleby:2 %}
            Even number
        {% endif %}
        {{ some_item }}<br/>
        {% endfor %}
    </p>
    <p>Some item is {{ some_item }}</p>

</body>
</html>