<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Hello World!</h1>
    <p>This is {{ bool_item }} coming through</p>
    {% if bool_item %}
    <p>Random number is {{ num }}</p>
    {% endif %}
    <p>
        {% for some_item in some_list %}
        {% if some_item|divisibleby:2 %}
            Even number
        {% endif %}
        {{ some_item }}<br/>
        {% endfor %}
    </p>
    <p>Some item is {{ some_item }}</p>

</body>
</html>